@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

.cl-avatarBox {
  width: 2.5rem;
  height: 2.5rem;
}

/* .arrows {
  height: 35px;
  width: 35px;
} */
